@charset "utf-8";

/**
 * lzx.base.css
 * version: 0.0.1;
 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font: 14px/1.5 'helvetica neue', tahoma, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4,
h5,
h6 {
  font-size: 100%;
}

small {
  font-size: 12px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #535353;
}

a:hover {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}


/* CSS for manage content overflow in layout */

.oh {
  overflow: hidden;
}

.oh-x {
  overflow-x: hidden;
}

.oh-y {
  overflow-y: hidden;
}


/* CSS for manage text typography */

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}


/* CSS for manage visility and display of DOM */

.hide {
  display: none;
}

.show {
  display: block;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
